@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root { 
    --primary-color: #3a3a3a;
    --text-color: #fff;
    --icon-color: #fff;
    --hover-color: #fafafa;
    --black-color: #1c1c1c;
    --gray-color: #9e9e9e;
    --light-text-color: rgba(0, 0, 0, 0.6);
    --dark-text-color: rgba(255, 255, 255, 0.288);
}
body {
    background-color: var(--primary-color);
}


.container .chat-content{
    padding: 25px 10px;
    display: flex;
    color: var(--text-color);
    justify-content: center;
}
.container span {
    font-size: 1.3rem;
    color: var(--icon-color);
    visibility: hidden;
}
.container:hover span{
    color:  var(--hover-color);
    visibility: visible;
}
.container .chat-outgoing {
    background-color:  var(--primary-color);
    border: 1px solid var(--primary-color);
}

.container .chat-incoming {
    background-color:  var(--dark-text-color);
    border: 1px solid var(--gray-color);
}


.container .chat-content{
    display: flex;
    align-items: flex-start;
    width: 100%;
    align-items: 100%;
    justify-content:  space-between;
}
.container .chat-details {
    display: flex;
    align-items: center;
}
.container .chat-details img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 2px;
}
.container .chat-details p{
    white-space: pre-wrap;
    font-size: 1.05rem;
    padding: 0 50px 0 25px;
}
span.material-symbols-outlined{
    cursor: pointer;
}
.class-typing{
    display: inline-flex;
    padding-left: 25px;
}
.class-typing .typing-dot{
    height: 7px;
    width:  7px;
    opacity: 0.7;
    border-radius: 50%;
    margin: 0 3px;
    background-color: var(--text-color);
    animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}
@keyframes animateDots {
    0%, 44%{
        transform:  translateY(0);
    }
    22%{
        opacity: 0.4;
        transform: translateY(-7px);
    }
    44%{
        opacity: 0.2;
    }


}

.container.chat-content .class-typing{
    display: flex;
    align-items: center;
}
.typing-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 20px 10px ;
    justify-content: center;
    background-color: var(--primary-color);
    border: 1px solid var(--gray-color)
}
.typing-container .typing-content {
    max-width: 950px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    
}
.typing-content .typing-text-area{
    width: 100%;
    display: flex;
    position: relative;
}
.typing-text-area textarea{
    width: 100%;
    height: 55px;
    border: none;
    resize: none;
    font-size: 1rem;
    padding: 15px 45px 15px 20px;
    color: var(--text-color);
    background-color: var(--gray-color);
    outline: 1px solid var(--gray-color);
}
.typing-text-area textarea::placeholder{
    color: var(--primary-color);
}
.typing-text-area .typingarea::valid ~ span{
    visibility: visible;}
.typing-text-area span{
    position: flex;
    right: 0;
    left: 0;
    visibility: hidden;
}
.typing-content span{
    height: 50px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}
.typing-control{
    display: flex;
}
.typing-control span{
    margin-left: 7px;
    font-size: 1.4rem;
    border-radius: 4px;
    background-color:  var(--gray-color);
    border: 1px solid var(--gray-color);
}
